{% extends "get_product_ingredients.html" %}


{% block content %}
<style>
    /* Стили для модального окна */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .table {
        margin-top: 10px;
    }
</style>

<button type="button" class="btn btn-primary btn-add">
    Add Raw Material
</button>
<table class="table">
    <thead>
        <tr>
            <th>Raw Material</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.1 }}</td>
            <td>{{ ingredient.2 }}</td>
            <td>
                <!-- EDIT button -->
                <button type="button" class="btn btn-primary edit-ingredient"
                    data-ingredient-amount="{{ ingredient.2 }}" data-ingredient-id="{{ ingredient.0 }}">
                    EDIT
                </button>
                <!-- <button class="btn btn-primary edit-ingredient" data-ingredient-amount="{{ ingredient.2 }}" data-ingredient-id="{{ ingredient.0 }}">EDIT</button> -->
                <button class="btn btn-danger"
                    onclick="showModalDelete('{{ ingredient.0 }}', '{{ product_id }}')">DELETE</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal to update ingredient -->
<div class="modal fade" id="UpdateModal" tabindex="-1" aria-labelledby="UpdateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-top" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UpdateModalLabel">Edit Ingredient</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'update_ingredient' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="ingredient_id" name="ingredient_id">
                    <input type="hidden" id="product_id" name="product_id" value="{{product_id}}">
                    <div class="form-group">
                        <label for="ingredient_amount">Amount:</label>
                        <input type="number" min='0' step='any' required class="form-control" id="ingredient_amount"
                            name="ingredient_amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для обновления ингредиента
<div id="UpdateModal" class="modal fade" aria-labelledby="UpdateModalLabel" aria-hidden="true"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UpdateModalLabel">Edit Ingredient</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'update_ingredient' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <input type="hidden" id="ingredient_id" name="ingredient_id">
                    <input type="hidden" id="product_id" name="product_id" value="{{product_id}}">
                    <div class="form-group">
                        <label for="ingredient_amount">Amount:</label>
                        <input type="number" min='0' step='any' required class="form-control" id="ingredient_amount"
                            name="ingredient_amount">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div> -->


<!-- Модальное окно подтверждения удаления ингредиента -->
<div id="myModalDelete" class="modal fade" aria-labelledby="myModalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirm Deletion</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'delete_ingredient' %}">
                {% csrf_token %}
                <input type="hidden" id="ingredient_id_delete" name="ingredient_id_delete">
                <input type="hidden" id="product_id_delete" name="product_id_delete">
                <div class="modal-body">
                    <p>Are you sure you want to delete this ingredient?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Модальное окно для добавления ингредиента -->
<div class="modal fade" id="AddIngredientModal" tabindex="-1" aria-labelledby="AddIngredientModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddIngredientModalLabel">Add Raw Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'add_ingredient' %}">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="raw_material">Raw Material:</label>
                        <select class="form-select" id="raw_material" name="raw_material">
                            {% for raw_material in raw_materials %}
                            <option value="{{ raw_material.0 }}">{{ raw_material.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount:</label>
                        <input type="number" min='1E-28' step='any' required class="form-control" id="amount"
                            name="amount">
                    </div>
                    <input type="hidden" id="product_id" name="product_id" value="{{ product_id }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">ADD</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для исключения IntegrityError -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Error</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">It is not possible to add an ingredient because such an ingredient already exists.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-add" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% if error %}
    <input type="hidden" id="error" value="True">
{% endif %}

<script>
    $(document).ready(function () {
        // Функция, вызываемая при нажатии на кнопку редактирования
        $('.edit-ingredient').on('click', function () {
            // Получаем значения ингредиента из data-атрибутов кнопки
            var ingredientId = $(this).data('ingredient-id');
            var ingredientAmount = $(this).data('ingredient-amount');

            // Устанавливаем значения input'ов в модальном окне
            $('#ingredient_amount').val(ingredientAmount);
            $('#ingredient_id').val(ingredientId);
            $("#UpdateModal").modal("show");
        });
    });

    function showModalDelete(ingredient_id, product_id) {
        $("#ingredient_id_delete").val(ingredient_id);
        $("#product_id_delete").val(product_id);
        $("#myModalDelete").modal("show");
    }

    $(document).ready(function () {
        // Функция, вызываемая при нажатии на кнопку добавления
        $('.btn-add').on('click', function () {
            $("#AddIngredientModal").modal("show");
        });
    });

    $(document).ready(function() {
        if ($("#error").val() == "True") {
            $("#exampleModal").modal('show');
        }
    });
</script>
{% endblock %}