<!DOCTYPE html>
<html>
<head>
	<title>Main page</title>
	<!-- подключение Bootstrap -->
	<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
	<style>
		.container {
			max-width: 600px;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-dark bg-primary">
		<div class="container">
			<span class="navbar-brand mb-0 h1 mx-auto">Chocolate Factory</span>
		</div>
	</nav>
  	<div class="container">
  		<br>
		<div class="row justify-content-center">
			<div class="col-md-6">
				<a href="{% url 'budget' %}" class="btn btn-primary w-100 mb-3">Budget</a>
				<a href="{% url 'employee_list' %}" class="btn btn-primary w-100 mb-3">Employee</a>
			</div>
			<div class="col-md-6">
                <a href="{% url 'get_product_ingredients' %}" class="btn btn-primary w-100 mb-3">Ingredients</a>
				<a href="{% url 'purchase_of_raw_materials' %}" class="btn btn-primary w-100 mb-3">Purchase of raw materials</a>
			</div>
			<div class="col-md-6">
				<a href="{% url 'url_production' %}" class="btn btn-primary w-100 mb-3">Production</a>
				<a href="{% url 'sale_of_products' %}" class="btn btn-primary w-100 mb-3">Sale of products</a>
			</div>
			<div class="col-md-6">
				<a href="{% url 'raw_materials_list' %}" class="btn btn-primary w-100 mb-3">Raw materials</a>
				<a href="{% url 'products_list' %}" class="btn btn-primary w-100 mb-3">Finished products</a>
			</div>
			<div class="col-md-6">
				<a href="{% url 'positions_list' %}" class="btn btn-primary w-100 mb-3">Positions</a>
			</div>
			<div class="col-md-6">
				<a href="{% url 'units_list' %}" class="btn btn-primary w-100 mb-3">Units</a>
			</div>
		</div>
  	</div>
  	<!-- подключение скриптов Bootstrap -->
  	<script src="https://unpkg.com/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
